<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/global.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>
  <h3>
    <%= title %>
  </h3>
  <div class="info"></div>
  <a href="/">홈으로 이동</a>
</body>

<script src="/JS/userlist.js"></script>

</html>