<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>
  <h5>
    <%= title %>
  </h5>
  <div class="info">
    <span>
      <%= userinfo.email %>
    </span>
  </div>
  <a href="/">홈으로 이동</a>
</body>

<!-- 동적파일 -->
<!-- <script src="/JS/data.js"></script> -->
<script>
  const userinfo = JSON.parse(`<%- JSON.stringify(userinfo) %>`);
</script>

<!-- 정적파일 -->
<script src="/JS/test.js"></script>

</html>